<div class="row">

  <div class="my-3">
    <%= link_to "Add a New Director", "/directors/new", class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% Director.all.order('name').each do |director| %>
        <tr>
          <td><%= link_to director.name, "/directors/#{director.id}" %></td>
          <td><%= link_to "[Edit]", "/directors/#{director.id}/edit" %></td>
          <td><%= link_to "[Delete]", "/directors/#{director.id}", method: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
