<% user = User.find_by(id: params["id"]) %>

<h1>Editing User Account</h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/users/#{user.id}", method: "patch" do %>

      <p>Email: <input value="<%= user.email %>" name="email" type="text" autofocus class="form-control"></p>
      <p>Password: <input value="<%= user.password %>" name="password" type="text" autofocus class="form-control"></p>

      <button class="btn btn-primary">Update User</button>

    <% end %>

  </div>
</div>
